@media only screen and (max-width: 1025px){
  #pozadina {
    justify-content: center;
    text-align: center;
   }  
  #pozadina article h1{
     font-size: 60px ;
   }
   #pozadina article p{
     font-size: 30px ;
      text-align: center;
     
   }
   #logo h1{
    font-size: 40px;
  }
  #aboutslika{
    width:90%;
  }
  .centriranje{
    width:100%;
    flex-direction: column;
    #desno{
      width:50%;
      margin: 25px auto;
    }
    #forma{
      width: 70%;
    }
 }
 header #centriranje{
   nav ul li a {
    font-size: 15px;
   }
 }
 
 }
 @media only screen and (max-width: 950px){
  .sivap{
    .container{
      width:95%;
    }
  }
 }

@media only screen and (max-width: 769px){
  header #centriranje{
    justify-content: center;
  }
  #aboutslika{
    flex-direction: column;
    width: 100%;
  }
  #aboutslika #slika{
    width: 70%;
    margin-bottom: 20px;
    padding: 10px;
  }
  #aboutslika #text{
    width:70%;
  }
  .sivap .container{
    width:85%;
  }
  .sivap .container .card{
    width: 45%;
   }
   #things{
    flex-direction: column;
   }
   
   #things .jezici{
    width: 80%;
    margin-bottom: 20px;
   }
   .centriranje{
    #desno{
    width:80%;
    margin: 25px auto;
    }
    #forma{
      width: 80%;
    }
  }

 }
 
 
 @media only screen and (max-width: 631px){
  header{
    #centriranje{
      justify-content: center;
      width: 100%;
      flex-direction: column;
    }
  }  
  #pozadina{
      padding: 0px;
      min-height: 570px;
    }
    .skills{
      flex-direction: column;
    }
    .sivap .skills .card{
      width: 100%;
    }
    .sivap{
      .container{
        width:90%;
        flex-direction: column;
        .card{
          h3{
            margin-bottom: 10px;
          }
          width:80%;
          
        }
      }
    }
    footer{
      align-items: center;
      flex-direction: column;
      .sass{
        margin-bottom: 10px;
      }
      .podpis{
        margin-bottom: 10px;
      }
    }
 }
 @media only screen and (max-width: 471px){
  header{
    #centriranje{
      width: 100%;
      nav ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        li{
            margin-bottom: 4px;
          a {
            font-size: 14px;
          }
        }
         
      }
    }
  }  
  #pozadina article{
      width:90%;
    }
    #aboutslika #slika{
      width: 90%;
    }
    .centriranje{
      #desno{
        display: none;
      }
      #forma{
        width: 100%;
      }
    }
    #aboutslika #text{
      width: 90%;
    }
    button{ 
      padding: 10px 15px;
    }
    footer{
      .podpis{
        p{
          font-size: 13px;
        }
      }
    }
 }
@media only screen and (max-width: 381px){
  #pozadina{
    article{
      h1{
        font-size: 50px;
      }
      p{
        font-size: 22px;
      }
    }
  }
}