* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
$bela: rgb(255, 255, 255);
$svetloPlava: rgb(101, 189, 248);
$tamnoPlava: #10486F;
$crna: rgb(0, 0, 0);
  body{
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
  }
  li{
    list-style-type: none;
  }
  a{
    text-decoration: none;
    
  }
  html {
    scroll-behavior: smooth;
  }
  @mixin dflexjc($jc: space-between){
    display: flex;
    flex-wrap: wrap;
    justify-content: $jc;
    align-items: center;
}
@mixin centriranje{
    width:70%;
    margin: 0px auto;
}
@mixin atag($bela: #FFFF){
    display: inline-block;
    padding: 10px 30px;
    background-color:$bela;
    text-align: center;
    border-radius: 6px;
    border: 2px solid #00203f;
    margin-top: 20px;
    font-weight: 500;
}
@mixin hover($bela: #FFF){
    background-color:transparent;
    color: $bela;
  
}
 @mixin linija{
  width: 100%;
  height: 15px;
  background-color: #d0deec;
  border: 2px solid #fff;
 } 
@mixin procenat ($width: 90%){
    height: 100%;
    background-color: #0079cd;
    width: $width;
 }
 @mixin inputi($height:100%){
  height: $height;
  width: 100%;
  border: 1px solid #d3d3d3;
  border-radius: 6px;
  outline: 0;
  padding: 0 15px;
  font-size: 17px;
  font-family: 'Nunito', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
 }
  /* custom scroll bar */
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  
    &:hover {
      background: #555;
    }
  }
  /*nav*/
  header{
    width:100%;
    background-color: $tamnoPlava;
    padding: 20px 0px;
    border-bottom: 3px solid $crna;
    #centriranje{
    @include centriranje;
    @include dflexjc($jc:space-between);
    #logo h1 a{
      color:$crna
    } 
    #logo span{
        color:$bela;
     }
    nav ul li{
        display:inline-block;
        margin-left: 10px;
        transition: all .3;
    }
    a:hover{
      text-decoration: underline;
     }
    nav ul li a{
        color: $bela;
        font-weight: 500;
        font-size: 18px;
        text-transform: uppercase;
        
    }
    }
}
  .trsbg{
    width: 100%;
    
  }
  #pozadina{
    background-image: url(../img/pozadina.jpg);
    width: 100%;
    min-height: 900px;
    padding: 80px;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    @include dflexjc();
    article{
       width: 45%;
      
        
        h1{
            font-size: 50px;
            color:$bela;
        }
        p{
            font-size: 24px;
            color:$bela;
            margin-bottom: 10px;
            span::before {
            content: "";
              animation: animate infinite 3s;
              padding-left: 10px;
          }
        }
        
        a:hover{
          @include hover;
        }
        a{
          @include atag($bela);
          color:$tamnoPlava;
          transition: all .3s ease;
        }
    }

  }
  @keyframes animate {

    0% {
        content: "web designer";
    }

    25% {
        content: "IT technician";
    }

    50% {
        content: "programer";
    }

    75% {
        content: "student";
    }
}
  .about{
    @include centriranje();
    padding: 30px;
    margin-bottom: 15px;
    text-align: center;
  }
  #aboutslika{
    @include centriranje();
    @include dflexjc($jc:space-between);
    padding: 30px;
    #slika{
      width:40%;
      
      
      
      img{
        width:100%;
        height: 60vh;
        object-fit: cover;
        border-radius: 6px;
      }
    }
    #text{
      width:50%;
      h1{
        margin-bottom: 14px;
      }
      span{
        font-weight: 600;
        font-size: 18px;
      }
      p{
        text-align: justify;
        margin-bottom: 2px;
        
      }
     a:hover{
      @include hover($bela: $crna);
     }
      a{
        @include atag($tamnoPlava);
        color:$bela;
        transition: all 0.3s ease;
        
      }
    }
  }
  .sivap{
    color: #fff;
    background: #111;
    padding: 30px 0px;
    .container{
     @include centriranje();
     @include dflexjc();
    }
    .card:hover{
      background-color: rgb(0, 0, 0);
    }
    .card{
      width: 30%;
      text-align: center;
      padding: 20px 25px;
      background-color: #222;
      margin-bottom: 15px;
      overflow: hidden;
      transition: all .3s ease;
      text-align: center;
      border-radius: 6px;
      .box{
        h3{
          margin-bottom: 10px;
        }
        i{
          font-size: 50px;
          margin-bottom: 20px; 
        }
        img{
          height: 150px;
          width: 150px;
          object-fit: cover;
          border-radius: 50%;
          border: 5px solid #00203FFF;
        }
      }
    }
    

  }
  #things{
    @include centriranje();
    @include dflexjc();
    padding: 100px 0px;
    .jezici{
      width:43%;
      .jezikbox{
        @include dflexjc();
        width:100%;
        margin-bottom: 15px;
      }
    
    }
  }
  .linija{
    @include linija;
    .procenat{
      @include procenat($width: 98%)
    }
    .procenat2{
      @include procenat($width: 78%)
    }
    .procenat3{
      @include procenat($width: 66%)
    }
    .procenat4{
      @include procenat($width: 64%)
    }
    .procenat5{
      @include procenat($width: 88%)
    }
    .procenat6{
      @include procenat($width: 92%)
    }
    .procenat7{
      @include procenat($width: 75%)
    }
    .procenat8{
      @include procenat($width: 70%)
    }
    .procenat9{
      @include procenat($width: 85%)
    }
    .procenat10{
      @include procenat($width: 72%)
    }
    .procenat11{
      @include procenat($width: 80%)
    }
    .procenat12{
      @include procenat($width: 82%)
    }
  }
#desno{
  width: 50%;
} 
.centriranje{
  width: 70%;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px;
  margin-bottom: 15px;
    .info{
      @include dflexjc($jc:unset);
      margin-bottom: 25px;
      p{
        margin-left: 15px;
      }
    }
    .info1{
      @include dflexjc($jc:center);
      width: 80px;
      height: 100%;
      padding: 15px;
      background-color: #0079cd;
    }
}
.icon{
  @include dflexjc();
  color:$bela;
  font-size: 25px;
}
.fields{
  display: flex;
}
#forma{
  width: 45%;
}
input{
  @include inputi();
}
.email, .name, .subject{
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.email{
  margin-left: 15px;
}
.textarea{
  width: 100%;
  height: 80px;
}
textarea{
  @include inputi();
  
}
button:hover{
  @include hover($bela: $crna)
}
button{
  @include atag($tamnoPlava);
  transition: all 0.3s ease;
  color:$bela;
  width:25%;
  font-family: "Nunito", sans-serif;
  font-family: "Nunito Sans", sans-serif;
}
footer{
  background-color: #111;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  .podpis{
    color:$bela;
    span{
      text-decoration: underline;
    }
  }
  a{
    color: $bela;
  }
  i:hover{
    @include hover($bela: rgb(16,72,111))
  }
  i{
    margin-left: 15px;
    transition: all 0.3s ease;
  }
}
@media only screen and (max-width: 1025px){
  #pozadina {
    justify-content: center;
    text-align: center;
   }  
  #pozadina article h1{
     font-size: 60px ;
   }
   #pozadina article p{
     font-size: 30px ;
      text-align: center;
     
   }
   #logo h1{
    font-size: 40px;
  }
  #aboutslika{
    width:90%;
  }
  .centriranje{
    width:100%;
    flex-direction: column;
    #desno{
      width:50%;
      margin: 25px auto;
    }
    #forma{
      width: 70%;
    }
 }
 header #centriranje{
   nav ul li a {
    font-size: 15px;
   }
 }
 
 }
 @media only screen and (max-width: 950px){
  .sivap{
    .container{
      width:95%;
    }
  }
 }

@media only screen and (max-width: 769px){
  header #centriranje{
    justify-content: center;
  }
  #aboutslika{
    flex-direction: column;
    width: 100%;
  }
  #aboutslika #slika{
    width: 70%;
    margin-bottom: 20px;
    padding: 10px;
  }
  #aboutslika #text{
    width:70%;
  }
  .sivap .container{
    width:85%;
  }
  .sivap .container .card{
    width: 45%;
   }
   #things{
    flex-direction: column;
   }
   
   #things .jezici{
    width: 80%;
    margin-bottom: 20px;
   }
   .centriranje{
    #desno{
    width:80%;
    margin: 25px auto;
    }
    #forma{
      width: 80%;
    }
  }

 }
 
 
 @media only screen and (max-width: 631px){
  header{
    #centriranje{
      justify-content: center;
      width: 100%;
      flex-direction: column;
    }
  }  
  #pozadina{
      padding: 0px;
      min-height: 570px;
    }
    .skills{
      flex-direction: column;
    }
    .sivap .skills .card{
      width: 100%;
    }
    .sivap{
      .container{
        width:90%;
        flex-direction: column;
        .card{
          h3{
            margin-bottom: 10px;
          }
          width:80%;
          
        }
      }
    }
    footer{
      align-items: center;
      flex-direction: column;
      .sass{
        margin-bottom: 10px;
      }
      .podpis{
        margin-bottom: 10px;
      }
    }
 }


 
 @media only screen and (max-width: 471px){
  header{
    #centriranje{
      width: 100%;
      nav ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        li{
            margin-bottom: 4px;
          a {
            font-size: 14px;
          }
        }
         
      }
    }
  }  
  #pozadina article{
      width:90%;
    }
    #aboutslika #slika{
      width: 90%;
    }
    .centriranje{
      #desno{
        display: none;
      }
      #forma{
        width: 100%;
      }
    }
    #aboutslika #text{
      width: 90%;
    }
    button{ 
      padding: 10px 15px;
    }
    footer{
      .podpis{
        p{
          font-size: 13px;
        }
      }
    }
 }
@media only screen and (max-width: 381px){
  #pozadina{
    article{
      h1{
        font-size: 50px;
      }
      p{
        font-size: 22px;
      }
    }
  }
}